html {
    background-color:#0A1313;
}

header {
    margin:0 0;
}

header, main, nav, footer {
    text-align: center;
}

nav a { /* edits the links within nav container */
    padding: 18px;
    font-size:1.8em;
    text-decoration:none; /* removes underline from nav titles */
    color:#64BEBE; /* color nav links */
}

nav a:hover { /* pseudo class */
    border-bottom:2px #BE6464 solid;
    font-size:2em;
    transition: .9s; /* transition effect */
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

a {
    color:#BE6464;
}

hr {
    border:#64BEBE solid;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index_main {
    background-color: #31456B;
    padding: 15px;
    border-radius:25px;
}

#gallery-main {
    background-color: #31456B;
    padding: 15px;
    border-radius:25px;
}

/*main img {*/
/*    border-radius: 50%;*/
/*}*/

table {
    margin:0 auto;
}

td {
    padding:10px;
    font-size:1.3em;
}

td strong {
    color:#BE6464;
}

#table-header {
    background-color:#31456B;
}

.table-row {
    background-color:#6B92B6;
    color:#0A1313;
}

#topic1 {
    display: grid;
    place-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    width: 100%;
    height: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

ul {
    width:500px;
    margin:0 auto;
    text-align:left;
}

.hobby {
    color:#C1E5E5;
}

#contact_form {
    display:flex;
    justify-content: center;
    align-items: center;
}

footer {
    color:darkslategray;
}

h1 {
    font-size:3em;
    color:#BE6464;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-size:1em;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size:2em;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    color:#C1E5E5;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

code {
    font-size:1rem;
    color:#BE6464;
}